<!DOCTYPE html>
<html>
    <head>
        <title>盒子管理</title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel='stylesheet' href='/stylesheets/box.css'/>
        <!-- 后端登录 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1506624_oswwuan5y68.css">
        <!-- 后端论坛 --><link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_39ha99o5h31.css">
        <link rel="stylesheet" href="https://at.alicdn.com/t/font_1528101_ta96e29j5ne.css">
    </head>
    <body>
        <header style="background:#79be3b;width:100%;height:75px;"> 
            <img src="../images/logo.png" style="width:75px;height:75px;float:left;margin-left:30px;"/>
            <p style="float:left;color:white;font-size:35px;line-height:70px;margin-left:40px;">盒我学后台管理系统</p>
        </header>
        <div class="left">
            <div class="nav">
                <a href="/user">用户管理</a>
            </div>
            <div class="nav">
                <a href="/block">盒塘管理</a>
            </div>
            <div class="nav">
                <a href="/score">积分管理</a>
            </div>
            <div class="nav" style="background: #427911;">
                <a href="/box">盒子管理</a>
            </div>
            <div class="nav">
                <a href="/discovery">发现管理</a>
            </div>
            <div class="nav">
                <a href="/system">系统管理</a>
            </div>
            <div class="nav">
                <a href="/home">返回</a>
            </div>
        </div>
        <div class="right">        
            <div class="recordbox1">
                <p style="font-size:22px;font-weight:bold;padding-top:26px ;">学习记录
                    <a href="/box" style="color:#79be3b"><span style="margin-left:30px" class="iconfont icon-fanhui" id="btn"></span></a>
                </p>
            </div>
            <div class='recordbox2'>
                <ul id="all" style="padding-inline-start: 0px;margin-block-start: 0;
                margin-block-end: 0">
                    <li>
                        <div class='recordhead'>
                        <h2 class='recordhead1' style="margin-block-start:0;
                        margin-block-end: 0;">累计学习天数</h2>
                        <h2 class='recordhead2' style="margin-block-start:0;
                        margin-block-end: 0;">打卡数</h2>
                        <h2 class='recordhead3' style="margin-block-start:0;
                        margin-block-end: 0;">星星数</h2>
                        <h2 class='recordhead3' style="margin-block-start:0;
                        margin-block-end: 0;">成就</h2>
                        </div>
                    </li>
                    <li>
                        <%if(recordList.length==0){%>
                            <div class='recordhead' id="tag" ok="true" >                      
                                <h2 class='recordhead1' style="margin-block-start:0;
                                margin-block-end: 0;">-</h2>
                                <h2 class='recordhead2' style="margin-block-start:0;
                                margin-block-end: 0;">-</h2>
                                <h2 class='recordhead3' style="margin-block-start:0;
                                margin-block-end: 0;">-</h2>
                                <a href="/box/achievementdetail"><h2 class='recordhead3' style="margin-block-start:0;
                                margin-block-end: 0;">-</h2></a>
                                </div>
                            <%}else{%>
                                <div class='recordhead' id="tag" ok="false" >                      
                                <h2 class='recordhead1' style="margin-block-start:0;
                                margin-block-end: 0;"><%=recordList[0]["recordDay"]%></h2>
                                <h2 class='recordhead2' style="margin-block-start:0;
                                margin-block-end: 0;"><%=recordList[0]["recordClockIn"]%></h2>
                                <h2 class='recordhead3' style="margin-block-start:0;
                                margin-block-end: 0;"><%=recordList[0]["recordStars"]%></h2>
                                <a href="/box/achievementdetail"><h2 class='recordhead3' style="margin-block-start:0;
                                margin-block-end: 0;"><%=recordList[0]["recordAchievement"]%></h2></a>
                                </div>
                            <%}%>
                    </li>
                </ul>
            </div>
            <div id='recordbox3'>
                
            </div>
            <div>
                <div id="pop-container1" style="display: block;">
                    <div id="cover-tier1" class="popPosition1"></div>
                    <div id="pop-tier1" class="popPosition1">
                        <i id="close-pop1">&#10006;</i>
                        <div>
                            <h2>成就列表</h2>
                            <div id="achievement">
                                
                            </div>
                            
                        </div>
                    </div>
            </div>
        </div>
    </body>
    <script src="https://cdn.bootcss.com/echarts/4.2.1-rc1/echarts.min.js"></script>
    <script type="text/javascript " src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>
        function temp(id) {
            return document.getElementById(id);
        }
        temp('close-pop1').onclick = function() {
            temp('pop-container1').style.display = 'none';
            window.location.href="/box/record?userName=<%=userName%>"
        }
        var achievement=temp('achievement');
        var star=<%=recordList[0]["recordStars"]%>
        console.log(star);
        switch(true){
            case star<30:
                console.log(1);
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p>';
                break;
            case star>29&&star<60:
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[0]["achieveName"]%></p>';
                break;
            case star>59&&star<90:
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[0]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[1]["achieveName"]%></p>';
                break;
            case star>89&&star<120:
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[0]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[1]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[5]["achieveName"]%></p>';
                break;
                case star>119&&star<150:
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[0]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[1]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[5]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[3]["achieveName"]%></p>';
                break;
            case star>149:
                achievement.innerHTML='<p style="font-size: 20px;"><%=achievementList[4]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[0]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[1]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[5]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[3]["achieveName"]%></p><p style="font-size: 20px;"><%=achievementList[2]["achieveName"]%></p>';
                break;
        }
        var myChart = echarts.init(document.getElementById('recordbox3'));
        // 指定图表的配置项和数据
        var option = {
            title: {
                text: '周学习情况'
            },
            tooltip: {},
            xAxis: {
                data: ["累计学习天数","打卡数","星星数","成就数"]
            },
            yAxis: {},
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'line',
            }},
            series: [{
                name: '排名',
                type: 'bar',
                data: [<%=recordList[0]["recordDay"]%>, <%=recordList[0]["recordClockIn"]%>,<%=recordList[0]["recordStars"]%>, <%=recordList[0]["recordAchievement"]%>]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
</html>
